/* Top Section */
.greeting {
  font-size: var(--font-size-large);
  font-weight: bold;
  text-align: center;
  margin: var(--spacing-xlarge);
}

.contentTop, .contentEnd {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-xlarge);
  gap: var(--spacing-large);
}

.image {
  border-radius: 15px;
  max-width: 100%;
}

.endTextContainer, .topTextContainer {
 text-align: left;
}

.topImageContainer, .endImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Design */

/* iPad (Tablet) Styles */
@media (max-width: 1024px) {
  .greeting {
    margin: var(--spacing-large);
  }

  .contentTop, .contentEnd {
    gap: var(--spacing-large);
    margin: var(--spacing-large);
  }
}

@media (max-width: 768px) {
  .contentTop, .contentEnd {
    gap: var(--spacing-medium);
    margin: var(--spacing-medium);
  }

  .contentTop {
    flex-direction: column;
  }
 
  .greeting {
    margin: var(--spacing-medium);
  }

}