.pageTop {
  text-align: center;
  margin: var(--spacing-xlarge);
   /* Add horizontal padding */
}

.pageTop h1 {
  font-size: var(--font-size-logo); /* Use font size from variables.css */
  font-weight: bold;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-large);
  margin-bottom: var(--spacing-xlarge);
  width: 100%;
  padding: 0 var(--spacing-xlarge); /* Add horizontal padding */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.introText {
  flex: 1;
  max-width: 50%;
  text-align: left;
}

.introText h2 {
  font-size: var(--font-size-large); /* Use font size from variables.css */
  font-weight: bold;
  margin-bottom: var(--spacing-medium);
}

.introText h3 {
  font-size: var(--font-size-base); /* Use font size from variables.css */
  font-weight: normal;
  margin-bottom: var(--spacing-small);
}

.introText p {
  font-size: var(--font-size-base); /* Use font size from variables.css */
  margin-bottom: var(--spacing-small);
  line-height: 1.6;
}

.introImage {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introImage .image {
  border-radius: 15px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.outro {
  display: flex;
  flex-direction: column; /* Stack text and image vertically */
  justify-content: flex-start; /* Align items to the top */
  align-items: center; /* Center-align the content */
  gap: var(--spacing-large); /* Add spacing between text and image */
  margin-bottom: var(--spacing-xlarge); /* Add spacing below the outro section */
  width: 100%;
  padding: 0 var(--spacing-xlarge); /* Add horizontal padding */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.outroText {
  max-width: 80%; /* Constrain the width of the text */
  text-align: center; /* Center-align the text */
}

.outroText p {
  font-size: var(--font-size-base); /* Use font size from variables.css */
  margin-bottom: var(--spacing-medium);
  line-height: 1.6;
}

.outroImage {
  max-width: 50%; /* Constrain the width of the image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.outroImage .image {
  border-radius: 15px; /* Add rounded corners to the image */
  width: 100%;
  height: auto;
  object-fit: cover; /* Maintain the aspect ratio of the image */
}

.buttonLinks {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
    margin: var(--spacing-xlarge); 
}