:root {
    --color-primary: #ffffff; /* Primary color (e.g., blue) */
    --color-secondary: #2ecc71; /* Secondary color (e.g., green) */
    --color-background: #fefae0;/* Background color (e.g., light gray) */
    --color-text: #000000; /* Default text color */
    --color-text-secondary: #ffffff;
    --color-accent: #dbbfa4; /* Accent color (e.g., red) */
    --color-accent-hover: #dc8f70;

    /* header and footer colors*/
    --color-header-background: #164B39;
    --color-header-text: #ffffff;
  
    /* Spacing Variables */
    --spacing-small: 12px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
    --spacing-xlarge: 200px;
    --header-height: 100px;
  
    /* Font Variables */
    --font-family: 'Arial', sans-serif;
    --font-size-base: 16px;
    --font-size-large: 20px;
    --font-size-logo: 35px;
  }