:root {
    --color-primary: #ffffff; /* Primary color (e.g., blue) */
    --color-secondary: #2ecc71; /* Secondary color (e.g., green) */
    --color-background: #f4f4f4; /* Background color (e.g., light gray) */
    --color-text: #000000; /* Default text color */
    --color-accent: #e74c3c; /* Accent color (e.g., red) */

    /* header and footer colors*/
    --color-hf-background: #000000;
    --color-hf-text: #ffffff;
  
    /* Spacing Variables */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xlarge: 200px;
  
    /* Font Variables */
    --font-family: 'Arial', sans-serif;
    --font-size-base: 16px;
    --font-size-large: 20px;
    --font-size-logo: 35px;
  }