/* Top Section */
.greeting {
  font-size: var(--font-size-large);
  font-weight: bold;
  text-align: center;
  margin: var(--spacing-large);
}

.contentTop {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-xlarge);
  gap: var(--spacing-large);
}

.image {
  border-radius: 15px;
}

.greeting,
.imageContainer {
  flex: 1;
  max-width: 50%;
  text-align: center;
  box-sizing: border-box;
}

.imageContainer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentMiddle,
.contentEnd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: var(--spacing-xlarge);
  gap: var(--spacing-medium);
}

.contentMiddle h2,
.contentEnd h2 {
  text-align: center;
  margin-bottom: var(--spacing-large);
}

.list li {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-medium);
  list-style: circle;
}

.list li::marker {
  font-weight: bold;
}

.list li h3 {
  font-weight: bold;
  margin-bottom: var(--spacing-small);
}

/* Responsive Design */

/* iPad (Tablet) Styles */
@media (max-width: 1024px) {
  .greeting {
    margin: var(--spacing-large);
  }

  .contentTop,
  .contentMiddle,
  .contentEnd {
    gap: var(--spacing-large);
    margin: var(--spacing-large);
  }
}

/* Phone Styles */
@media (max-width: 768px) {
  .contentTop,
  .contentMiddle,
  .contentEnd {
    gap: var(--spacing-medium);
    margin: var(--spacing-medium);
  }

  .contentTop {
    flex-direction: column;
  }

  .greeting {
    margin: var(--spacing-medium);
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
}
