.page {
  background-color: var(--color-background);
}


.imageLogoContainer {
  background-image: url("/images/logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 120%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 130vh;
  width: 100%;
  padding: var(--spacing-large);
}


.buttonLinks {
  text-align: center;
  margin-top: 250px;
  margin-bottom: var(--font-size-large);
  font-size: var(--font-size-medium);
  color: var(--color-text-secondary);
}

.button {
  display: flex;
  justify-content: space-around;
  margin: var(--spacing-large);
  padding-top: var(--spacing-large);
}

.introAndreea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-large);
  margin-top: var(--spacing-large);
  padding: var(--spacing-xlarge);
}

.textContainer {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.greeting {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin-bottom: var(--spacing-large);
}

.description {
  margin: 0;
  font-size: var(--font-size-medium);
}

.imageContainer {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
}



