/* Content Top Styles */
.contentTop {
  /* Background color for the top section */
  background-color: var(--color-header-background);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imageLogoContainer {
  background-image: url("/images/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 115%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  transition: all 0.3s ease-in-out;
}


.imageText {
  text-align: center;
  color: var(--color-text-secondary);
  margin: var(--spacing-large);
}

.buttonLinksContainer {
  padding: var(--spacing-xlarge);
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  gap: var(--spacing-xlarge); 
}

/* Content End Styles */
.contentEnd {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
  gap: var(--spacing-large);
  margin: var(--spacing-xlarge);
  box-sizing: border-box;
  flex-direction: row; 
}

.greeting {
  font-size: var(--font-size-large);
  font-weight: bold;
  text-align: center;
  margin: var(--spacing-xlarge);
}

.textContainer {
  flex: 1;
  max-width: 50%; 
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small); 
}

.imageContainer {
  flex: 1;
  max-width: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.image {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

/* Media Queries */

/* Adjustments for screens smaller than 1030px */
@media (max-width: 1030px) {
  .imageLogoContainer {
    height: 68vh;
    background-position: center;
    padding: var(--spacing-large);
  }

  .buttonLinksContainer {
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: var(--spacing-large);
  }

  .greeting {
    margin: var(--spacing-large);
  }

  .contentEnd {
    gap: var(--spacing-large); 
    margin: var(--spacing-large);
  }

  .textContainer {
    max-width: 100%; 
  }
}

/* Adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  .imageLogoContainer {
    height: 40vh; 
    padding: var(--spacing-large);
  }

  .buttonLinksContainer {
    gap: var(--spacing-medium); 
  }

  .greeting {
    text-align: center; 
    margin: var(--spacing-large); 
  }

  .contentEnd {
    gap: var(--spacing-medium); 
    margin: var(--spacing-medium); 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    max-width: 80%;
  }
}

/* Adjustments for screens smaller than 480px */
@media (max-width: 480px) {
  .imageLogoContainer {
    height: 35vh; 
    max-width: 95%; 
    padding: var(--spacing-large);
  }
  .buttonLinksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-medium);
    text-align: center;
    width: 100%; 
  }
}

/* Adjustments for screens smaller than 470px */
@media (max-width: 470px) {
  .imageLogoContainer {
    height: 30vh; 
  }
}

/* Adjustments for screens smaller than 360px */
@media (max-width: 360px) {
  .imageLogoContainer {
    display: none; 
  }

  .ContentTop {
    background-color: var(--color-header-background);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
