

.intro {
  background-color: var(--color-header-background);
  box-sizing: border-box;
}

.imageLogoContainer {
  background-image: url("/images/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: 130vh;
  width: 100%;
}

.buttonLinksContainer {
    padding: var(--spacing-xlarge); /* Add space below the button links */
}

.imageText {
  text-align: center;
  color: var(--color-text-secondary);
  margin: var(--spacing-large);
}


.welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-large);
  margin: var(--spacing-xlarge);
  box-sizing: border-box;
}

.textContainer {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.greeting {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin-bottom: var(--spacing-large);
}

.description {
  margin: 0;
  font-size: var(--font-size-medium);
}

.imageContainer {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
}

.image {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1030px) {
  .imageLogoContainer {
    height: 80vh;
    background-position: center;
    padding: var(--spacing-medium);
  }

  .buttonLinksContainer {
    display: flex;
    flex-direction: column; /* Switch to column layout */
    align-items: center;
  }

  .introAndreea {
    flex-direction: column;
    text-align: center;
    gap: var(--spacing-large); /* Adjusted to large spacing for tablets */
    padding: var(--spacing-medium);
  }

  .textContainer {
    max-width: 100%;
    margin-bottom: var(--spacing-large); /* Adjusted to large spacing for tablets */
    order: 2;
    padding: var(--spacing-small);
  }

  .imageContainer {
    max-width: 80%;
    order: 1;
    justify-content: center;
    gap: var(--spacing-medium); /* Reduce gap for tablets */
    margin: 0 auto; /* Center the image container */
  }


  .welcome {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-large); /* Adjusted to large spacing for tablets */
    margin: var(--spacing-large); /* Adjusted to large spacing for tablets */
  }
}

@media (max-width: 768px) {
  .buttonLinksContainer {
    padding: var(--spacing-large); /* Add space below the button links */
}

.imageLogoContainer {
  height: 40vh;
  background-position: center ;
  padding: var(--spacing-medium);
}  

  .introAndreea {
    flex-direction: column;
    text-align: center;
    gap: var(--spacing-medium); /* Adjusted to medium spacing for phones */
    padding: var(--spacing-medium);
  }

  .welcome {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-medium); /* Adjusted to medium spacing for phones */
    margin: var(--spacing-large) auto;
    padding: 0 var(--spacing-medium);
  }

  .textContainer {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 var(--spacing-medium);
    margin-bottom: var(--spacing-medium); /* Adjusted to medium spacing for phones */
  }

  .imageContainer {
    max-width: 80%;
    gap: var(--spacing-small); /* Further reduce gap for phones */
    margin: 0 auto; /* Center the image container */
  }  
}

@media (max-width: 480px) {
  .imageLogoContainer {
    height: 35vh;
    max-width: 95%;
    
  }

   .intro {
    padding: 0;
   }
  .introAndreea {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-medium); /* Adjusted to medium spacing for small phones */
    padding: var(--spacing-medium);
  }

  .welcome {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-medium); /* Adjusted to medium spacing for small phones */
    margin: var(--spacing-medium);
    padding: 0 var(--spacing-small);
  }

  .textContainer {
    max-width: 100%;
    padding: 0 var(--spacing-small);
    margin-bottom: var(--spacing-medium); /* Adjusted to medium spacing for small phones */
  }

  .imageContainer {
    max-width: 100%;
    justify-content: center;
    gap: var(--spacing-small); /* Keep small gap for small phones */
    margin: 0 auto; /* Center the image container */
  }  
}
