.menuButton {
  display: none;
  background: none;
  border: none;
  color: var(--color-header-text);
  font-size: var(--font-size-logo);
  cursor: pointer;
  z-index: 1001;
  position: absolute;
  right: var(--spacing-medium);
  top: 50%;
  transform: translateY(-50%);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--color-header-background);
  color: var(--color-header-text);
  position: relative;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  background-color: var(--color-header-background);
  padding: 0 var(--spacing-large);
  box-sizing: border-box;
}

.logo h1 {
  font-size: var(--font-size-logo);
  margin: 0;
  color: var(--color-header-text);
  line-height: var(--header-height);
}

.navList {
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: var(--spacing-medium);
  width: 100%;
  background-color: var(--color-header-background);
  color: var(--color-header-text);
  gap: var(--spacing-medium);
  box-sizing: border-box;
  position: absolute;
  top: var(--header-height);
  left: 0;
  z-index: 999;
  text-align: center;
}

.navListOpen {
  display: flex;
  flex-direction: column;
}

.navItem a {
  text-decoration: none;
  color: var(--color-header-text);
  font-size: var(--font-size-large);
  transition: color 0.3s ease;
  max-width: 100%;
}

.navItem a:hover {
  color: var(--color-accent);
}

/* Show the button and hide nav items on smaller screens */
@media (max-width: 1024px) {
  .menuButton {
    display: block;
  }

  .navList {
    display: none;
  }

  .navListOpen {
    display: flex;
  }
}

/* Inline navigation for larger screens */
@media (min-width: 1025px) {
  .navList {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
    gap: var(--spacing-large);
    margin-top: 0;
  }

  .menuButton {
    display: none;
  }
}

@media (max-width: 480px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between logo and menu button */
    padding: 0 var(--spacing-small); /* Adjust padding for smaller screens */
  }

  .logo {
    margin-right: auto; /* Push the logo to the far left */
  }

  .menuButton { /* Remove absolute positioning */
    margin-left: auto; /* Push the menu button to the far right */
    right: var(--spacing-small); /* Add spacing around the button */
    padding: 0;
  }
}