.greeting {
  font-size: var(--font-size-large);
  font-weight: bold;
  text-align: center;
  margin: var(--spacing-xlarge);
}


.contentTop {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-xlarge);
  gap: var(--spacing-xlarge);
}
 
.topTextContainer li {
  list-style: circle;
 margin-bottom: var(--spacing-medium);
 }

 .topTextContainer h2 {
  text-align: center;
 }

.contentEnd {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: var(--spacing-xlarge);
  gap: var(--spacing-large);
}

.image {
  border-radius: 15px;
}

 .topTextContainer, .childTextContainer, .adultTextContainer  {
  text-align: left;
  width: 100%
 }


 .topImageContainer, .endImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 200px;
}


/* Responsive Design */

/* iPad (Tablet) Styles */
@media (max-width: 1024px) {
  .greeting {
    margin: var(--spacing-large);
  }

  .contentTop, .contentEnd {
    flex-direction: column;
    gap: var(--spacing-large);
    margin: var(--spacing-large);
  }
  .topImageContainer {
    order: -1;
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Center content horizontally */
    align-items: center
  }
}

@media (max-width: 768px) {
  .greeting {
    margin: var(--spacing-medium);
  }
 .contentTop, .contentEnd {
    gap: var(--spacing-medium);
    margin: var(--spacing-medium);
  }

  

  .contentEnd {
    margin-top: var(--spacing-xlarge);
  }
  .adultTextContainer, .childTextContainer {
    text-align: center;
  }
}








