.image {
  border-radius: 15px;
}


.pageTop {
  text-align: center; /* Center the header text */
  margin-top: var(--spacing-xlarge); /* Add consistent spacing below the header */
}

.intro {
  display: flex; /* Arrange items in a row */
  justify-content: space-around; /* Space items evenly */
  align-items: flex-start; /* Align items to the top */
  gap: var(--spacing-xlarge); /* Add consistent spacing between items */
  margin: var(--spacing-xlarge); /* Add padding around the intro section */
}

.list {
   /* Constrain the list to 40% of the width */
  display: flex;
  flex-direction: column; /* Stack list items vertically */
  gap: var(--spacing-medium); /* Add spacing between list items */
}

.imageContainer {
  /* Constrain the image container to 40% of the width */
  display: flex;
  justify-content: center; /* Center the image inside the container */
  align-items: center; /* Vertically align the image */
}

.imageContainer .image {
  max-width: 100%; /* Ensure the image does not overflow its container */
  max-height: 100%; /* Ensure the image does not stretch vertically */
  object-fit: contain; /* Maintain the aspect ratio of the image */
}

.photoGallery {
  display: grid; /* Use grid layout for the photo gallery */
  grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
  gap: var(--spacing-xlarge); /* Add consistent spacing between images */
  margin: var(--spacing-large) auto;
  width: fit-content;
  justify-content: center;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xlarge);
  margin: var(--spacing-xlarge) auto;
  max-width: 1200px;
  width: 100%;
}

.textContainer {
  flex: 1;
  max-width: 50%;
  text-align: center; /* Center-align the text */
  margin: 0 auto; /* Center the container */
}

.map {
  flex: 1;
  max-width: 50%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.buttonLinks {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  flex-wrap: wrap; 
  margin: var(--spacing-xlarge); 
  
}

.centeredList {
  margin-top: var(--spacing-large); /* Add spacing between the heading and the list */
}

.centeredList h3 {
  margin-bottom: var(--spacing-small); /* Add spacing below each day heading */
  font-size: 1.2rem; /* Adjust font size for the day names */
  font-weight: bold; /* Make the day names bold */
}

.centeredList ul {
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.centeredList li {
  margin-bottom: var(--spacing-small); /* Add spacing between list items */
  font-size: 1rem; /* Adjust font size for consistency */
}