.greeting {
  font-size: var(--font-size-large);
  font-weight: bold;
  text-align: center;
  margin: var(--spacing-xlarge);
}

.contentTop {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-xlarge);
  gap: var(--spacing-xlarge);
}

.image {
  border-radius: 15px;
}


 .topImageContainer{
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 200px;
}

.contentMiddle {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: var(--spacing-xlarge);
  gap: var(--spacing-large);
}


.hours, .location, .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
}

.contentEnd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: var(--spacing-xlarge);
}

/* Responsive Design */

/* iPad (Tablet) Styles */
@media (max-width: 1024px) {
  .greeting {
    margin: var(--spacing-large);
  }

  .contentTop, .contentEnd, .contentMiddle {
    gap: var(--spacing-large);
    margin: var(--spacing-large);
    flex-direction: column;
  } 
  .topImageContainer {
    order: -1;
    display: flex; 
    justify-content: center;
    align-items: center
  }

}

@media (max-width: 768px) {
  .greeting {
    margin: var(--spacing-medium);
  }
 .contentTop, .contentEnd, .contentMiddle {
    gap: var(--spacing-medium);
    margin: var(--spacing-medium);
  }

  .contentEnd {
    padding-bottom: var(--spacing-large);
  }
}
