.button {
  display: inline-block;
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-medium);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--color-text-secondary);
  background-color: var(--color-button-home);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-button-home-hover);
}

.button:focus {
  outline: var(--outline-width) solid var(--color-button-home-hover);
  outline-offset: var(--outline-offset);
}
